html, body {
	font-family: Heebo, sans-serif;
	background-color: #000d0c;
	color: #fff;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

main, header, footer {
	background-color: #002626;
}

main, header {
	border-radius: 4px;
}

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 24px 0;
}

header {
	text-align: center;
	padding: 22px 34px;
	margin: 0;
}

header h1 {
	font-family: "Merriweather", serif;
	font-size: 3rem;
	font-weight: 700;
	margin: 18px 0;
	padding: 0;
}

nav ul {
	margin: 10px 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	background-color: #18777a;
	border-radius: 3px;
	margin: 0 0.5rem;
}

.selected {
	background-color: #3db4bb;
}

nav ul li a {
	text-decoration: none;
	color: #000;
	font-size: 0.9rem;
	line-height: 2.1rem;
	padding: 0 3.6rem;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 28px 0 96px 0;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

#image {
	object-fit: cover;
	max-width: 100%;
	border-radius: 4px 0 0 4px;
}

#right {
	padding: 12px 24px;
}

footer {
	background-color: #002626;
	color: #3db4bb;
	font-size: 0.8rem;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 16px 0;
	text-align: center;
}

#footerWrapper {
	max-width: 1000px;
	text-align: left;
	margin: 10px auto;
	padding: 0;
}

#footerWrapper p {
	padding: 2px 0;
	margin: 0;
}
