html, body {
    background: #1f005e;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    text-align: center;
}

/*<----------------HEADER---------------->*/
header {
    width: 80%;
    margin: 48px auto 0 auto;
    text-align: center;
}

h1 {
    color: #ff7e88;
    cursor: default;
    font-size: 2.6rem;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

/*<----------------NAVIGATION---------------->*/
nav {
    width: 100%;
    margin: 48px auto 0 auto;
    text-align: center;
}

.itemNav {
    padding: 0 8px;
}
    
.itemNav a {
    color: #ff7e88;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.33s ease 0s;
}

.itemNav a:hover {
    color: #fff;
    transition: color 0.33s ease 0s;
}

#itemNavSelected {
    color: #fff;
}

/*<----------------MAIN---------------->*/
main {
    width: 100%;
    margin: 128px auto 0 auto;
    text-align: center;
}

#imageGrid {
    display: grid;
    grid-row-gap: 5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: none;
    margin: 0 auto;
    max-width: 768px;
}

.itemMain {
    position: relative;
}

.imageMain {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    background: rgba(76,46,229,0.0);
    height: 100%;
    width: 100%;
    opacity: 1.0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.33s ease 0s;
}

.itemMain:hover .overlay {
    opacity: 1.0;
    transition: opacity 0.33s ease 0s;
}

.text {
    color: #fff;
    font-size: 1rem;
    position: absolute;
    top: -2.5rem;
    left: 1rem;
}
    
#one {
    grid-column: auto;
    grid-row: auto;
}

#two {
    grid-column: auto;
    grid-row: auto;
}

#three {
    grid-column: auto;
    grid-row: auto;
}

#four {
    grid-column: auto;
    grid-row: auto;
}

/*<----------------FOOTER---------------->*/
footer {
    width: 100%;
    margin: 64px auto 32px auto;
    text-align: center;
}

.itemFooter {
    height: 36px;
    width: 36px;
    padding: 0 16px;
}
    
.itemFooter a {
    color: rgba(0,0,0,0.0);
    font-size: 0px;
}

.imageSocial {
    height: 36px;
    width: 36px;
    opacity: 1.0;
    transition: opacity 0.33s ease 0s;
}

.imageSocial:hover {
    opacity: 0.6;
    transition: opacity 0.33s ease 0s;
}












@media (min-width: 768px) {
/*<----------------HEADER---------------->*/
header {
    width: 80%;
    margin: 48px auto 0 auto;
}

h1 {
    font-size: 2.6rem;
}

/*<----------------NAVIGATION---------------->*/
nav {
    width: 100%;
    margin: 48px auto 0 auto;
}

.itemNav {
    padding: 0 8px;
}
    
.itemNav a {
    font-size: 1rem;
}

/*<----------------MAIN---------------->*/
main {
    width: 80%;
    margin: 96px auto 0 auto;
}

#imageGrid {
    grid-row-gap: 5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: none;
    margin: 0 auto;
    max-width: 768px;
}

.overlay {
    background: rgba(76,46,229,0.0);
    opacity: 1.0;
}

.itemMain:hover .overlay {
    opacity: 1.0;
}

.text {
    font-size: 1rem;
    top: -2.5rem;
    left: 1rem;
}
    
#one {
    grid-column: auto;
    grid-row: auto;
}

#two {
    grid-column: auto;
    grid-row: auto;
}

#three {
    grid-column: auto;
    grid-row: auto;
}

#four {
    grid-column: auto;
    grid-row: auto;
}

/*<----------------FOOTER---------------->*/
footer {
    width: 100%;
    margin: 64px auto 32px auto;
}

.itemFooter {
    height: 36px;
    width: 36px;
    padding: 0 16px;
}

.imageSocial {
    height: 36px;
    width: 36px;
}
}