html, body {
    background: #1f005e;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    color: #ff7e88;
    font-size: 2.6rem;
    font-weight: 700;
    padding: 0;
    margin: 76px 0 0 0;
}

nav {
    text-align: center;
    margin: 48px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
    padding: 0 13px;
    text-align: center;
}

li a {
    color: #ff7e88;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.4s ease 0s;
}

li a:hover {
    color: #FFF;
    transition: color 0.4s ease 0s;
}

#selected {
    color: #FFF;
}


* {
    box-sizing: border-box;
}


main {
    width: 100%;
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: 0 auto;
    max-width: 1000px;
}

.container {
    
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#one {
    grid-column: 1 / 6;
    grid-row: 1 / 4;
}
#two { 
    grid-column: 1 / 6;
    grid-row: 4 / 8;
}
#three {
    grid-column: 6 / 10;
    grid-row: 1 / 5;
}
#four {
    grid-column: 6 / 10;
    grid-row: 5/8;
}






footer {
    margin: 0 0 42px 0;
    width: 100%;
    text-align: center;
}

.liFooter {
    height: 36px;
    width: 36px;
}

.socialimg {
    height: 36px;
    width: 36px;
}