html, body {
    background: #1f005e;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    color: #ff7e88;
    font-size: 2.6rem;
    font-weight: 700;
    padding: 0;
    margin: 76px 0 0 0;
}

nav {
    text-align: center;
    margin: 48px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
    padding: 0 13px;
    text-align: center;
}

li a {
    color: #ff7e88;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.4s ease 0s;
}

li a:hover {
    color: #FFF;
    transition: color 0.4s ease 0s;
}

#selected {
    color: #FFF;
}






.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}





footer {
    bottom: 42px;
    width: 100%;
    position: absolute;
    text-align: center;
}

.liFooter {
    height: 36px;
    width: 36px;
}

.socialimg {
    height: 36px;
    width: 36px;
}