/* The emerging W3C standard
   that is currently Firefox-only */
* {
	scrollbar-width: thin;
	scrollbar-color: #543236 #FFDDD6;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #FFDDD6;
}

*::-webkit-scrollbar-thumb {
	background-color: #543236;
	border-radius: 20px;
	border: 4px solid #FFDDD6;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #FFDDD6;
    color: #472B2E;
    font-family: 'Sk-Modernist-Regular', sans-serif;
    font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
    letter-spacing: 0.02rem;
	text-align: center;
}

#siteWrapper {
	position: relative;
	max-width: 2000px;
    min-height: 100%;
	margin: 0 auto;
	padding: 0 8vw;
}

#headerContainer {
    padding: 1.2vw 0.8vw;
}

#header {
    display: flex;
    align-items: center;
}

.headerSection {
    flex: 1 0 0;
}

.headerSection a {
    color: #472B2E;
    text-decoration: none;
}

#headerTitle {
    text-align: left;
    font-size: 1.8rem;
	font-family: futura-pt,sans-serif;
	font-weight: 600;
    letter-spacing: 0;
	padding: 0;
}

#headerTitle a {
	color: #543236;
	opacity: 1.0;
}

#headerTitle a:hover {
	opacity: 0.78;
}

#headerNav {
    text-align: center;
	padding: 0;
}

#headerNav a {
    padding: 0 0 0.5rem 0;
    margin: 0 0.8rem;
}

.selectedNav {
    border-bottom: 1px solid #472B2E;
	background: none;
	border-radius: 0;
	opacity: 1.0;
}

.selectedNav:hover {
	opacity: 0.78;
}

.unselectedNav {
	opacity: 1.0;
}

.unselectedNav:hover {
	opacity: 0.78;
}

#headerLinks {
	display: block;
    text-align: right;
    font-size: 0;
}

.link {
    margin: 0 0 0 1.1vw;
	opacity: 1.0;
}

.link:hover {
	opacity: 0.78;
}

.link img {
    width: 20px;
	height: 20px;
}

#content {
	display: inline-block;
}

#pic {
	width: 22vh;
	margin: 24vh 0 4vh 0;
}

#bio {
	font-size: 1.2rem;
}

#footerLinks {
    display: none;
}

/*mobile*/
@media (max-width:500px) {
	body {
		line-height: 1.6;
		letter-spacing: 0.05rem;
	}
    
    #headerContainer {
        padding: 10vw 10vw 6vw 10vw;
    }
    
    #header {
        display: block;
    }
    
    #headerTitle {
        text-align: center;
        font-size: 2.9rem;
		letter-spacing: 0.01rem;
        padding: .5rem 0;
    }
    
    #headerNav {
        padding: 1.2rem 0 1rem 0;
    }
    
    #headerNav a {
        padding: .8rem 1.2rem 0.9rem 1.2rem;
        margin: 0 0.2rem;
    }

    .selectedNav {
        border-bottom: 0px solid #000;
        background: #F8C7C2;
        border-radius: 128px;
    }
    
    #headerLinks {
        display: none;
    }
	
	#content {
		display: inline-block;
	}
	
	#pic {
		width: 21vh;
		margin: 4vh 0;
	}
	
	#bio {
		font-size: 1rem;
	}