html, body {
	font-family: Heebo, sans-serif;
	background-color: #000a09;
	color: #fff;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

header, footer {
	background-color: #002e2e;
}

main, header {
	border-radius: 4px;
}

#wrapper {
	max-width: 1036px;
	margin: 0 auto;
	padding: 24px 18px;
}

/*  <------------------------ HEADER ------------------------>  */

header {
	text-align: center;
	margin: 0 0 24px 0;
	padding: 46px 24px 36px 24px;
}

header h1 {
	font-family: "Merriweather", serif;
	font-size: 3rem;
	font-weight: 700;
	margin: 0 0 16px 0;
	padding: 0;
}

/*  <------------------------ NAVIGATION ------------------------>  */

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	background-color: #158a8e;
	border-radius: 2px;
	margin: 6px 4px;
}

.selected {
	background-color: #35c8d0;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 0.9rem;
	line-height: 34px;
	width: 160px;
	height: 34px;
}

/*  <------------------------ HOME PAGE ------------------------>  */

#mainHome {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 0 102px 0;
	background-color: #002e2e;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

#left {
	width: 100%;
	background-image: url("/m3a2/images/home.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 4px 0px 0px 4px;
}

#right {
	margin: 28px 36px;
	padding: 0px;
}

#right h1 {
	font-size: 1.8rem;
	line-height: 2.4rem;
	font-weight: 600;
	margin: 0 0 12px 0;
}

#right p {
	font-size: 1.02rem;
	line-height: 1.8rem;
	font-weight: 400;
}

/*  <------------------------ EVENTS PAGE ------------------------>  */

#mainEvents {
	display: block;
	margin: 0 0 102px 0;
}

.eventContainer {
	background-color: #002e2e;
	width: 100%;
	margin: 24px 0;
	border-radius: 4px;
	padding: 30px 26px;
}

.specialContainer {
	background: linear-gradient(rgba(0,10,9,0.75), rgba(0,10,9,0.75)) , var(--image-url) center center;
	background-size: cover;
}

.eventContainer h2 {
	font-size: 1.8rem;
	line-height: 1.8rem;
	font-weight: 600;
}

.eventContainer p {
	font-size: 0.9rem;
	line-height: 0.9rem;
	font-weight: 400;
	padding: 12px 0 0 0;
}

/*  <------------------------ CONTACT PAGE ------------------------>  */

#mainContact {
	margin: 0 0 102px 0;
	padding: 30px 26px;
	background: linear-gradient(rgba(0,38,38,0.65), rgba(0,38,38,0.65)) , var(--image-url) center center;
	background-size: cover;
	text-align: center;
}

#contactContent {
	max-width: 100%;
	margin: auto;
	text-align: left;
}

#contactContent h2 {
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 600;
}

#contactForm {
	margin: 12px 0 0 0;
}

#contactForm label {
	font-size: 1.02rem;
	line-height: 1.8rem;
}

#contactForm input {
	font-size: 0.9rem;
	line-height: 1rem;
	border: 0;
	border-radius: 2px;
	margin: 0 0 12px 0;
	padding: 6px;
	width: 100%;
	max-width: 225px;
}

#contactForm textarea {
	font-size: 0.9rem;
	line-height: 1rem;
	border: 0;
	border-radius: 2px;
	margin: 0 0 12px 0;
	padding: 6px;
	width: 100%;
	max-width: 400px;
}

#contactForm button {
	font-size: 0.9rem;
	line-height: 34px;
	font-weight: 400;
	height: 34px;
	width: 100%;
	max-width: 400px;
	color: #000;
	background-color: #158a8e;
	border: 0;
	border-radius: 2px;
	margin: 6px 4px;
}

/*  <------------------------ VOLUNTEER PAGE ------------------------>  */

#mainVolunteer {
	margin: 0 0 102px 0;
	padding: 32px 32px;
	background: linear-gradient(rgba(0,38,38,0.8), rgba(0,38,38,0.5)) , var(--image-url) center center;
	background-size: cover;
	text-align: center;
}

#volunteerContent {
	text-align: left;
}

#volunteerContent h1 {
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 600;
	margin: 0 0 16px 0;
}

#volunteerContent p, #volunteerContent li {
	font-size: 1.02rem;
	line-height: 1.6rem;
	font-weight: 400;
}

#volunteerContent h2 {
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: 600;
	margin: 24px 0 4px 0;
}
#volunteerContent li {
	margin: 0 0 0 20px;
}

#volunteerContent ul {
	margin: 0 0 8px 0;
}

/*  <------------------------ FOOTER ------------------------>  */

footer {
	color: #35c8d0;
	font-size: 0.8rem;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 16px 48px;
	text-align: center;
}

#footerWrapper {
	max-width: 1000px;
	text-align: left;
	margin: 12px auto;
	padding: 0;
}

#footerWrapper p {
	padding: 2px 0;
	margin: 0;
}

/*  <------------------------ PAGE WIDTH UNDER 760 ------------------------>  */

@media (max-width: 760px) {
	#mainHome {
		display: block;
	}
	
	.column {
		display: inline-block;
	}
	
	#left {
		height: 22vh;
		border-radius: 4px 4px 0px 0px;
	}

	#right {
		margin: 20px 36px 28px 36px;
	}

	#contactContent {
		max-width: 400px;
	}
}

/*  <------------------------ PORTRAIT SCREEN ------------------------>  */

@media (orientation: portrait) {
	#contactContent {
		max-width: 400px;
	}
}