:root {
	--palette-01: hsl(79, 55%, 92%);
	--palette-02: hsl(126, 15%, 72%);
	--palette-03: hsl(196, 24%, 46%);
	--palette-04: hsl(197, 66%, 21%);
	--palette-05: hsl(197, 94%, 6%);
	--palette-06: #51d0ba;

	accent-color: var(--palette-06);

	--frame-padding: 20px;

	--nav-blur-size: 1.75rem;
	--nav-padding-vertical: 1rem;


	/* DESKTOP */
	--desktop-main-font-size: 1rem;

	--desktop-name-font-size: 1.5rem;
	--desktop-name-letter-spacing: 1.75rem;

	--desktop-nav-gap: 7.5rem;


	/* TABLET */
	--tablet-main-font-size: 0.97rem;

	--tablet-name-font-size: 1.32rem;
	--tablet-name-letter-spacing: 2rem;

	--tablet-nav-gap: 14%;


	/* MOBILE */
	--mobile-main-font-size: 0.92rem;

	--mobile-name-font-size: 1.2rem;
	--mobile-name-letter-spacing: 1.6rem;

	--nav-mobile-blur-size: 3rem;
	--mobile-nav-gap: 4.8rem;

	--mobile-toggle-size: 1.3rem;

	--mobile-nav-color: hsl(197 100% 5% / 0.82);
	--mobile-nav-blur-color: hsl(197 100% 4.6% / 0.62);
	--mobile-nav-padding-bottom: 24px;
	--mobile-nav-padding-left: 18%;


	--desktop-header-height: calc(var(--desktop-main-font-size) + (var(--nav-padding-vertical) * 2));
	--tablet-header-height: calc(var(--tablet-main-font-size) + (var(--nav-padding-vertical) * 2));
}



/* ------------ Utility Classes ------------ */

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important; 
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}



/* ------------ GLOBAL - All/Non-Mobile Sizes ------------ */

*,html,body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, .content {
	width: 100%;
	height: 100%;
}

body {
	position: absolute;
	top: 0;
}

/* -- BG Color -- */
html { background-color: var(--palette-05); }

/* -- Main Text -- */
html, body, a {
	font-family: source-code-pro, monospace;
	font-weight: 300;
	font-style: normal;
	line-height: 1;
	color: var(--palette-01);
}

/* -- Name Text -- */
.name {
	position: fixed;
	font-family: operetta-52,serif;
	font-weight: 400;
	line-height: 0;
	writing-mode: vertical-lr;
	text-orientation: upright;
	z-index: 980;
	opacity: 0.72;
}
#nameLeft {
	left: calc(var(--frame-padding) + 1px);
	bottom: calc(var(--frame-padding) + 1px);
}
#nameRight {
	right: var(--frame-padding);
}

#frame {
	position: fixed;
	border: solid 1px var(--palette-01);
	width: calc(100% - (var(--frame-padding) * 2));
	height: calc(100% - (var(--frame-padding) * 2));
	left: var(--frame-padding);
	top: var(--frame-padding);
	z-index: 981;
	pointer-events: none;
}

/* -- Header -- */
.primary-header {
	border-bottom: solid 1px var(--palette-01);
	pointer-events:initial;
}

/* -- Mobile Toggle -- */
.nav-mobile-toggle { display: none; }

/* -- Nav -- */
.primary-nav { width: 100%; }
@supports (backdrop-filter: blur(var(--nav-blur-size))) or (-webkit-backdrop-filter: blur(var(--nav-blur-size))) {
	.primary-nav {
		backdrop-filter: blur(var(--nav-blur-size));
		-webkit-backdrop-filter: blur(var(--nav-blur-size));
	}
}

/* -- Nav ul -- */
.primary-nav-ul {
	border-left: solid 1px var(--palette-01);
	border-right: solid 1px var(--palette-01);
	list-style: none;
	justify-content: center;
	padding: var(--nav-padding-vertical) 0;
}

/*-- Nav Text -- */
.primary-nav a {
	text-decoration: none;
	transition: color 150ms ease;
}
.primary-nav a:hover, .primary-nav a:active {color: var(--palette-02);}
.selected a {text-decoration: line-through;}

/* -- Content -- */
.content {
	height: 100%;
	text-align: center;
}



/* ------------ DESKTOP ------------ */

html,body, a { font-size: var(--desktop-main-font-size); }

.name {
	font-size: var(--desktop-name-font-size);
	letter-spacing: var(--desktop-name-letter-spacing);
}

#nameRight { top: calc(var(--frame-padding) + var(--desktop-header-height) + var(--desktop-name-letter-spacing) + 2px); }

.primary-nav-ul {
	margin: 0 var(--desktop-header-height);
	--gap: var(--desktop-nav-gap);
}

.content {
	width: 80%;
	margin: 0 auto;
	padding: calc(var(--desktop-header-height) + (var(--frame-padding) * 2) + 2px) 0 calc(var(--frame-padding) * 2 + 1px) 0;
}



/* ---- MEDIUM ---- */

@media (max-width: 62em) {
	html,body, a {
		font-size: var(--tablet-main-font-size);
	}

	.name {
		font-size: var(--tablet-name-font-size);
		letter-spacing: var(--tablet-name-letter-spacing);
	}

	#nameRight { top: calc(var(--frame-padding) + var(--tablet-header-height) + var(--tablet-name-letter-spacing) + 2px); }

	.primary-nav-ul {
		margin: 0 var(--tablet-header-height);
		--gap: var(--tablet-nav-gap);
	}

	.content {
		width: 84%;
		margin: 0 auto;
		padding: calc(var(--tablet-header-height) + (var(--frame-padding) * 2) + 2px) 0 calc(var(--frame-padding) * 2 + 1px) 0;
	}
}



/* ---- MOBILE ---- */

@media (max-width: 35em) {
	html,body, a {
		font-size: var(--mobile-main-font-size);
	}
	
	.name {
		font-size: var(--mobile-name-font-size);
		letter-spacing: var(--mobile-name-letter-spacing);
	}
	
	#nameRight {
		top: calc(var(--frame-padding) * 2);
	}

	.primary-header {
		border: none;
	}

	.nav-mobile-toggle {
		position: absolute;
		display: block;
		background-color: transparent;
		background-image: url("/images/menu.svg");
		background-repeat: no-repeat;
		border: none;
		width: var(--mobile-toggle-size);
		aspect-ratio: 1;
		top: var(--frame-padding);
		right: var(--frame-padding);
		z-index: 985;
	}
	
	.nav-mobile-toggle[aria-expanded="true"] {
		background-image: url("/images/menux.svg");
	}

	.primary-nav {
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
	}

	.primary-nav-ul {
		position: fixed;
		border: none;
		background: var(--mobile-nav-color);
		inset: 0 0 0 31%;
		flex-direction: column;
		--gap: var(--mobile-nav-gap);
		padding: 0 0 var(--mobile-nav-padding-bottom) var(--mobile-nav-padding-left);
		margin: 0;

		transform: translateX(100%);
		transition: transform 280ms ease-out;
	}

	.primary-nav-ul[data-visible="true"] {
		transform: translateX(0%);
	}
	@supports (backdrop-filter: blur(var(--nav-mobile-blur-size))) or (-webkit-backdrop-filter: blur(var(--nav-mobile-blur-size))) {
		.primary-nav-ul {
			backdrop-filter: blur(var(--nav-mobile-blur-size));
			-webkit-backdrop-filter: blur(var(--nav-mobile-blur-size));
			background: var(--mobile-nav-blur-color);
		}
	}

	.content {
		width: calc(100% - (var(--frame-padding) * 4));
		margin: 0 auto;
		padding: calc(var(--frame-padding) * 2) 0;
	}
}
