:root {
	--palette-01: hsl(79, 55%, 92%);
	--palette-02: hsl(126, 15%, 72%);
	--palette-03: hsl(196, 24%, 46%);
	--palette-04: hsl(197, 66%, 21%);
	--palette-05: hsl(197, 94%, 6%);
	--palette-06: #51d0ba;

	accent-color: var(--palette-06);

	--main-padding: 20px;
	--main-blur-size: 1.75rem;


	--large-main-font-size: 1rem;
	--large-name-font-size: 1.8rem;
	--large-name-letter-spacing: 1.8rem;

	--large-nav-padding-vertical: 1rem;
	--large-nav-gap: 7.5rem;


	--med-main-font-size: 0.97rem;
	--med-name-font-size: 1.6rem;
	--med-name-letter-spacing: 1.8rem;

	--med-nav-padding-vertical: 1rem;
	--med-nav-gap: 8%;


	--mobile-toggle-size: 1.3rem;

	--mobile-main-font-size: 0.92rem;
	--mobile-name-font-size: 1.8rem;
	--mobile-name-letter-spacing: 1.5rem;

	--mobile-nav-color: hsl(197 100% 5% / 0.82);
	--mobile-nav-blur-color: hsl(197 100% 4.6% / 0.62);
	--mobile-nav-padding-bottom: 0;
	--mobile-nav-padding-left: 18%;
	--mobile-nav-gap: 4.8rem;


	--large-header-height: calc(var(--large-main-font-size) + (var(--large-nav-padding-vertical) * 2));
	--med-header-height: calc(var(--med-main-font-size) + (var(--med-nav-padding-vertical) * 2));
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important; 
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

*,html,body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, .content {
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

/* ---- GLOBAL ---- */

/* -- BG Color -- */
html {
	background-color: var(--palette-05);
}

/* -- Main Text -- */
html,body, a {
	font-family: source-code-pro, monospace;
	font-weight: 300;
	font-style: normal;
	line-height: 1;
	color: var(--palette-01);
}

/* -- Name Text -- */
.name {
	position: fixed;
	font-family: operetta-52,serif;
	font-weight: 400;
	line-height: 0;
	writing-mode: vertical-lr;
	text-orientation: upright;
	z-index: 980;
	opacity: 0.72;
}
#nameLeft {
	left: calc(var(--main-padding) + 1px);
	bottom: calc(var(--main-padding) + 1px);
}
#nameRight {
	right: var(--main-padding);
}

/* -- Frame -- */
#frame {
	position: fixed;
	border: solid 1px var(--palette-01);
	width: calc(100% - (var(--main-padding) * 2));
	height: calc(100% - (var(--main-padding) * 2));
	left: var(--main-padding);
	top: var(--main-padding);
	z-index: 981;
	pointer-events: none;
}

/* -- Header -- */
.primary-header {
	border-bottom: solid 1px var(--palette-01);
	pointer-events:initial;
}

/* -- Mobile Toggle -- */
.nav-mobile-toggle {
	display: none;
}

/* -- Nav -- */
.primary-nav {
	width: 100%;
}
@supports (backdrop-filter: blur(var(--main-blur-size))) or (-webkit-backdrop-filter: blur(var(--main-blur-size))) {
	.primary-nav {
		backdrop-filter: blur(var(--main-blur-size));
		-webkit-backdrop-filter: blur(var(--main-blur-size));
	}
}

/* -- Nav ul -- */
.primary-nav-ul {
	border-left: solid 1px var(--palette-01);
	border-right: solid 1px var(--palette-01);
	list-style: none;
	justify-content: center;
}

/*-- Nav Text -- */
.primary-nav a {text-decoration: none;}
.primary-nav a:hover, .primary-nav a:active {color: var(--main-text-hover-color);}
.selected a {text-decoration: line-through;}

/* -- Content -- */
.content {
	height: 100%;
	text-align: center;
}


/* ---- LARGE ---- */

html,body, a {
	font-size: var(--large-main-font-size);
}

.name {
	font-size: var(--large-name-font-size);
	letter-spacing: var(--large-name-letter-spacing);
}

#nameRight {
	top: calc(var(--main-padding) + var(--large-header-height) + var(--large-name-letter-spacing) + 2px);
}

.primary-nav-ul {
	padding: var(--large-nav-padding-vertical) 0;
	margin: 0 var(--large-header-height);
	--gap: var(--large-nav-gap);
}

.content {
	width: 80%;
	margin: 0 auto;
	padding: calc(var(--large-header-height) + (var(--main-padding) * 2) + 2px) 0 calc(var(--main-padding) * 2 + 1px) 0;
}


/* ---- MEDIUM ---- */

@media (max-width: 62em) {
	html,body, a {
		font-size: var(--med-main-font-size);
	}

	.name {
		font-size: var(--med-name-font-size);
		letter-spacing: var(--med-name-letter-spacing);
	}

	#nameRight {
		top: calc(var(--main-padding) + var(--med-header-height) + var(--med-name-letter-spacing) + 2px);
	}

	.primary-nav-ul {
		padding: var(--med-nav-padding-vertical) 0;
		margin: 0 var(--med-header-height);
		--gap: var(--med-nav-gap);
	}

	.content {
		width: 84%;
		margin: 0 auto;
		padding: calc(var(--med-header-height) + (var(--main-padding) * 2) + 2px) 0 calc(var(--main-padding) * 2 + 1px) 0;
	}
}

/* ---- MOBILE ---- */

@media (max-width: 35em) {
	html,body, a {
		font-size: var(--mobile-main-font-size);
	}
	
	.name {
		font-size: var(--mobile-name-font-size);
		letter-spacing: var(--mobile-name-letter-spacing);
	}
	
	#nameRight {
		top: calc(var(--main-padding) * 2);
	}

	.primary-header {
		border: none;
	}

	.nav-mobile-toggle {
		position: absolute;
		display: block;
		background-color: transparent;
		background-image: url("/images/menu.svg");
		background-repeat: no-repeat;
		border: none;
		width: var(--mobile-toggle-size);
		aspect-ratio: 1;
		top: var(--main-padding);
		right: var(--main-padding);
		z-index: 985;
	}
	
	.nav-mobile-toggle[aria-expanded="true"] {
		background-image: url("/images/menux.svg");
	}

	.primary-nav {
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
	}

	.primary-nav-ul {
		position: fixed;
		border: none;
		background: var(--mobile-nav-color);
		inset: 0 0 0 31%;
		flex-direction: column;
		--gap: var(--mobile-nav-gap);
		padding: 0 0 var(--mobile-nav-padding-bottom) var(--mobile-nav-padding-left);
		margin: 0;

		transform: translateX(100%);
		transition: transform 280ms ease-out;
	}

	.primary-nav-ul[data-visible="true"] {
		transform: translateX(0%);
	}
	@supports (backdrop-filter: blur(var(--main-blur-size))) or (-webkit-backdrop-filter: blur(var(--main-blur-size))) {
		.primary-nav-ul {
			backdrop-filter: blur(var(--main-blur-size));
			-webkit-backdrop-filter: blur(var(--main-blur-size));
			background: var(--mobile-nav-blur-color);
		}
	}

	.content {
		width: calc(100% - (var(--main-padding) * 4));
		margin: 0 auto;
		padding: calc(var(--main-padding) * 2) 0;
	}
}
