:root {
	--nav-blur-size: 24px;
	--nav-blur-color: rgba(255, 250, 246, 0.88);
	--color-background: rgb(255, 250, 246);
	--color-background-hover: rgb(243, 217, 202);
	--color-background-selected: rgb(243, 217, 202);
	--color-black: #000000;
	--color-red: #ff9a88;
	--color-mist: rgb(174, 228, 163);
	--color-brown-text: #6B3123;
	--color-grey-text: rgb(128, 128, 128);
	--color-black-text: hsl(16, 27%, 8%);

	accent-color: rgb(60, 105, 241);

	--main-font-size: .925rem;
	--name-font-size: 1.667rem;

	--nav-cart-size: 1.6rem;

	--nav-main-padding: 1rem;
	--nav-secondary-padding: 1rem;

	/* DESKTOP */
	--desktop-nav-gap: 7.5rem;


	/* TABLET */
	--tablet-nav-gap: 17.5%;


	/* MOBILE */
	--mobile-nav-gap: 4.8rem;

	--mobile-toggle-size: 1.3rem;


	--header-height: calc(var(--name-font-size) + var(--main-font-size) + (var(--nav-main-padding) * 2) + (var(--nav-secondary-padding) * 2) + 2px + var(--content-top-padding));
	--mobile-header-height: calc(var(--name-font-size) + (var(--nav-main-padding) * 2) + 1px + var(--content-top-padding));
}



/* ------------ Utility Classes ------------ */

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important; 
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.flex {
	display: flex;
	gap: var(--flex-gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--grid-gap, 1rem);
}



/* ------------ GLOBAL - All/Non-Mobile Sizes ------------ */

*,html,body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

/* -- BG Color -- */
html {
	background-color: var(--color-background);
}

/* -- Main Text -- */
html, body, a {
	font-size: var(--main-font-size);
	font-family: source-code-pro, monospace;
	font-weight: 300;
	font-style: normal;
	line-height: 1;
	color: var(--color-black-text);
}

/* -- Name Text -- */
.nav-name {
	font-size: var(--name-font-size);
	font-family: ivypresto-display, serif;
	font-weight: 700;
	font-style: italic;
	text-decoration: none;
}

/* -- Main Header -- */
.nav-mobile-toggle {
	display: none;
}
.primary-header {
	position: fixed;
	width: 100%;
	z-index: 900;
}
.primary-nav-main, .primary-nav-secondary {
	background-color: var(--color-background);
	border-bottom: 1px solid var(--color-black);
	align-items: center;
}
@supports (backdrop-filter: blur(var(--nav-blur-size))) or (-webkit-backdrop-filter: blur(var(--nav-blur-size))) {
	.primary-nav-main, .primary-nav-secondary {
		backdrop-filter: blur(var(--nav-blur-size));
		-webkit-backdrop-filter: blur(var(--nav-blur-size));
		background-color: var(--nav-blur-color);
	}
}
.primary-nav-main {
	justify-content: space-between;
	padding: var(--nav-main-padding) calc(var(--nav-main-padding) * 1.6);
}
.link-img {
	line-height: 0;
}
.nav-cart img {
	height: var(--nav-cart-size);
	max-height: var(--name-font-size);
	aspect-ratio: 1;
}
.primary-nav-secondary {
	justify-content: center;
	padding: var(--nav-secondary-padding) calc(var(--nav-secondary-padding) * 1.75);
	list-style: none;
}
.primary-nav-secondary a { text-decoration: none; }
.nav-selected { text-decoration: line-through; }

/* -- Content -- */
.content {
	padding-top: var(--header-height);
}



/* ------------ DESKTOP ------------ */
.primary-nav-secondary {
	--flex-gap: var(--desktop-nav-gap);
}



/* ------------ TABLET ------------ */
@media (max-width: 63em) {
	.primary-nav-secondary {
		--flex-gap: var(--tablet-nav-gap);
	}
}



/* ------------ MOBILE ------------ */
@media (max-width: 38em) {
	.nav-mobile-toggle {
		display: block;
		height: var(--mobile-toggle-size);
		max-height: var(--name-font-size);
		aspect-ratio: 1;
		background-color: transparent;
		background-image: url('/lueur/images/menu.svg');
		background-repeat: no-repeat;
		border: none;
		z-index: 995;
		cursor: pointer;
	}
	.nav-mobile-toggle[aria-expanded="true"] {
		background-image: url("/lueur/images/menux.svg");
	}
	.primary-nav-secondary {
		--flex-gap: var(--mobile-nav-gap);
		padding: 0;
		margin: 0;
		position: fixed;
		inset: 0 31% 0 0;
		flex-direction: column;
		border: none;
		border-right: 1px solid var(--color-black);
		z-index: -10;

		transform: translateX(-100%);
		transition: transform 280ms ease-out;
	}

	.primary-nav-secondary[data-visible="true"] {
		transform: translateX(0%);
	}
	.content {
		padding-top: var(--mobile-header-height);
	}
}